body{
    height: 98vh;
    width: 96vw;
}

.education ul {
    list-style-type: none;
}

#ga, #bachelors, #bachelors-awards-honors {
    margin-bottom: -10px;
}

#ga {
    margin-top: -10px;
}

@media screen and (min-width: 900px) {
    .education {
        float: right;
        width: 99%;
        height: 20%;
        height: auto;
    }

    .projects, .work {
        margin: auto;
        max-width: 48%;
    }

    .projects {
        float: right;
    }

    .work {
        float: left;
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media only screen and (max-width: 899px) {
    body {
        display: flex;
        flex-direction: column;
    }

    .education, .work, .projects {
        margin: auto;
        width: 85%;
    }
}
