
@media only screen and (min-width: 900px) {
    body {
        height: 98vh;
        width: 98vw;
        font-family: "Montserrat";
        display: flex;
        flex-direction: column;
    }

    .header {
        height: 10%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    h1 {
        margin-right: auto;
    }

    .links {
        margin-left: auto;
    }

    #resume-projects, #github, #contact {
        justify-content: right;
        padding-right: 10px;
    }

    .intro {
        height: 90%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        min-height: 500px;
        min-width: 500px;
    }

    #profile-pic {
        width: 200px;
        height: 200px;
    }

    .divider {
        border-top: 3px solid #bbb;
        top: 63%;
        width: 300px;
    }
}

@media only screen and (max-width: 899px) {

}


