body {
    background-image: url("images/index-background.jpg");
    background-position: center;
    background-size: cover;
    background-size: 100%;

    /*view width and height. Independent of other elements*/

    height: 100vh;
    width: 100vw;

    display: grid;
    /*template rows & columns - each term represents # of rows, value is size*/
    grid-template-rows: repeat(20, 5%);
    grid-template-columns: repeat(20, 5%);

}

h1 {
    grid-row: 1;
    grid-column: 2 / span 10;
    font-size: 300%;
}

#credentials {
    grid-row: 3;
    grid-column: 2 / span 10;
}

#profilepic {
    grid-row: 2;
    grid-column: 16 / span 3;
    width: 200px;
    height: 200px;
}

#description {
    grid-row: 4;
    grid-column: 2 / span 8;
}

.images {
    display: flex;
    flex-direction: row;
    grid-row: 9 / span 5;
    grid-column: 2 / span 18;
    justify-content: space-evenly;
}

#star-wars, #retro-gaming, #archery {
    border-style: solid;
    padding: 10px;
    width: 20%;

}

#form {
    grid-row: 17;
    grid-column: 1 / span 20;
    text-align: center;
}

footer {
    grid-row: 19;
    grid-column: 1 / span 20;
    text-align: center;
    font-size: 40px;
}