body {

    /*view width and height. Independent of other elements*/
    /*height: 100vh;*/
    /*width: 100vw;*/

    /*!*template rows & columns - each term represents # of rows, value is size*!*/
    /*grid-template-rows: repeat(25, 4%);*/
    /*grid-template-columns: repeat(25, 4%);*/
}

h1 {
    font-size: 300%;
    font-family: 'Montserrat', sans-serif;
}

#credentials {
    font-family: 'Montserrat', sans-serif;
}

#profilePic {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
    width: 200px;
}

