body {
    background-image: url("images/index-background.jpg");
    background-position: center;
    background-size: cover;
    background-size: 100%;

    /*view width and height. Independent of other elements*/

    height: 100vh;
    width: 100vw;

    display: grid;
    /*template rows & columns - each term represents # of rows, value is size*/
    grid-template-rows: repeat(20, 5%);
    grid-template-columns: repeat(20, 5%);

}

#education-title{
    grid-column: 2 / span 10;
    grid-row: 2;
}

#education-description{
    grid-column: 2 / span 18;
    grid-row: 3;
}
