body {
    /*view width and height. Independent of other elements*/
    height: 98vh;
    width: 96vw;

    /*flex-direction: row;*/
    /*flex-wrap: wrap;*/
    /*align-items: flex-start;*/
    /*flex: 1 1 160px;*/
}
.education {
    float: right;
    width: 100%;
    height: 15%;
}

.projects, .work {
    max-width: 45%;
    width: auto;
}
.projects {
    float: right;
}

.work {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

@media (max-width: 480px) {
    body {
        display: flex;
    }
    .projects, .work {
        flex-direction: row;
        flex-basis: 100%;
    }
}
