

@media screen and (min-width: 900px) {
    body {
        /*view width and height. Independent of other elements*/
        height: 98vh;
        width: 96vw;

        /*display: flex;*/
        /*flex-wrap: wrap;*/
        /*flex-direction: row;*/
    }


    .education {
        float: right;
        width: 99%;
        height: 15%;
    }

    .projects, .work {
        margin: auto;
        max-width: 48%;
    }

    .projects {
        float: right;
    }

    .work {
        float: left;
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media only screen and (max-width: 899px) {
    body {
        height: 98vh;
        width: 96vw;
        display: flex;
        flex-direction: column;
    }

    .education, .work, .projects {
        margin: auto;
        width: 85%;
    }
}
